---
layout: archive
---

{{ content }}

{% assign projects_by_category = site.projects | group_by_exp: "project", "project.categories[0] | default: 'Uncategorized'" %}

<ul class="taxonomy__index">
  {% for group in projects_by_category %}
    {% if group.name != "" %}
      <li>
        <a href="#{{ group.name | slugify | downcase }}">
          <strong>{{ group.name }}</strong> <span class="taxonomy__count">{{ group.items | size }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% for group in projects_by_category %}
  {% if group.name != "" %}
    <section id="{{ group.name | slugify | downcase }}" class="taxonomy__section">
      <h2 class="archive__subtitle">{{ group.name }}</h2>
      <div class="entries-{{ entries_layout }}">
        {% for project in group.items %}
          {% assign post = project %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  {% endif %}
{% endfor %}