---
layout: archive
classes: wide
---

<style>
  .archive {
    max-width: 100%;
  }
  .initial-content {
    max-width: 100%;
  }
</style>

{{ content }}

<ul class="taxonomy__index">
  {% assign projectsByCategory = site.projects | where_exp: "item", "item.hidden != true" | group_by_exp: 'project', 'project.categories[0] | default: "Uncategorized"' %}
  {% for category in projectsByCategory %}
    {% if category.name != "" %}
      <li>
        <a href="#{{ category.name | slugify | downcase }}">
          <strong>{{ category.name }}</strong> <span class="taxonomy__count">{{ category.items | size }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign projectsByCategory = site.projects | where_exp: "item", "item.hidden != true" | group_by_exp: 'project', 'project.categories[0] | default: "Uncategorized"' %}
{% for category in projectsByCategory %}
  {% if category.name != "" %}
    <section id="{{ category.name | slugify | downcase }}" class="taxonomy__section">
      <h2 class="archive__subtitle">{{ category.name }}</h2>
      <div class="entries-{{ entries_layout }}">
        {% for project in category.items %}
          {% assign post = project %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  {% endif %}
{% endfor %}
