---
layout: archive
---

{{ content }}

<ul class="taxonomy__index">
  {% assign resourcesByCategory = site.resources | where_exp: "item", "item.hidden != true" | group_by_exp: 'resource', 'resource.categories[0] | default: "Uncategorized"' %}
  {% for category in resourcesByCategory %}
    {% if category.name != "" %}
      <li>
        <a href="#{{ category.name | slugify | downcase }}">
          <strong>{{ category.name }}</strong> <span class="taxonomy__count">{{ category.items | size }}</span>
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign resourcesByCategory = site.resources | where_exp: "item", "item.hidden != true" | group_by_exp: 'resource', 'resource.categories[0] | default: "Uncategorized"' %}
{% for category in resourcesByCategory %}
  {% if category.name != "" %}
    <section id="{{ category.name | slugify | downcase }}" class="taxonomy__section">
      <h2 class="archive__subtitle">{{ category.name }}</h2>
      <div class="entries-{{ entries_layout }}">
        {% for resource in category.items %}
          {% assign post = resource %}
          {% include archive-single.html type=entries_layout %}
        {% endfor %}
      </div>
      <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
    </section>
  {% endif %}
{% endfor %}
